.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
}

body {
    background-color: gray;
    background-image: linear-gradient(to right, gray, black);
    
}

.container {
    background-color: white;
    padding: 45px;
    margin: 40px;
    width: 600px;
    
    
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
}

.row {
    padding: 5px;
}

input {
    width: 500px;
}

