html {
    position: relative;
    min-height: 100%;
}

/* Nav Bar */
#logo {
    font-family: monospace;
    font-size: 47px;
    font-weight: bold;
}

.navbar {
    background: white;
    border: none;
    background-image: linear-gradient(to right, gray, black);
}

.nav-link {
    background-color:lightgray;
    margin: 10px;
    border-radius: 30px;
}

/* Background */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color: gray;
    background-image: linear-gradient(to right, gray, black);   
}

/* Main articles */
main {
    margin: 50px 30px;
}

.block {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

h1{
    font-family: monospace;
    font-weight: bold;
    font-size: 40px;
    
}

.row {
    padding: 5px;
}

.img {
  float: left;
  width: 200px;
  margin: 0 20px 10px 0;
}

.port-image {
    margin: 20px auto;
    outline-style: solid;
    width: 310px;
    height: 250px;
}

.imgTittle {
    text-align: center;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
  height: 60px;
  }

.line {
    height: 6px;
    padding-top: 3px;
    background-image: linear-gradient(to right, black, gray);
}

.text-box {
    margin-top: 15px;
    color: gray;
}